*{
    margin: 0;
    padding: 0;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4b4747;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
h1{
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: .5em;
}
p{
    text-align: center;
    color: white;
    font-size: .8em;
}
.container{
    display: flex;
    height: 79vh;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 auto;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container:first-child{
    border-top: 1px solid rgb(176, 181, 186);
}
.container:last-child{
    border-bottom: 1px solid rgb(176, 181, 186);
}
.row-container> :first-child{
    border-left: 2px solid rgb(176, 181, 186);
}
.row-container> :last-child{
    border-right:  2px solid rgb(176, 181, 186);
}
.row-container{
    display: flex;
    width: auto;
    height: 40px;
}
.grid{
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(176, 181, 186);
}
.changeSizeBtn{
    width: 120px;
    height: 50px;
    color: white;
    font-weight: 600;
    background-color: silver;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}
.changeSizeBtn:active{
    background-color: #71797E
}